body{
	background-color: #00002e;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

figcaption {
	display: none;
}

.header .header__logo{
	display: flex;
	justify-content: center;
}

.content .content__header {
	display: flex;
	justify-content: center;
	color: white;
	font-size: 1.5rem;
}

.content__list {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	max-width: 858px;
	align-items: center;
	justify-content: center;
}

.list .list__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 100px;
	max-width: 186px;
	color: white;
}

.item .item__img img {
	width: 186px;
	border: 2px solid #00002e;
}

.item .item__img img:hover {
	cursor:pointer;
	border-color: gray;
}

.content__footer {
	display: flex;
	justify-content: center;
}

.content__footer button{
	display: flex;
	margin-top: 50px;
	background-color: #00002e;
	color: white;
	border: 1px white solid;
	padding: 25px 50px;
}

.content__footer button:hover {
	cursor: pointer;
}


@media (min-width: 1450px){

	.header .header__logo{
		display: flex;
		position: fixed;
		left:10px;
		top: 5px;
		max-width: 100%;
	}

	.content {
		margin-top: 135px;
	}
	
	.content .content__header h2{
		font-size: 2em;
	}

	.content__list {
		flex-wrap: nowrap;
		justify-content: center;
		margin: 0 auto;
	}

}